/* Sample code 

.img{
  height:300px;
  width:500px;
  margin-top: 2%;
  margin-left: 30%;
}
.captain{
  height:300px;
  width: 500px;
}

.cont{
  margin-top: 3%;
  margin-left: 9%;
  height: 40%;
  width: 80%;
  background-color: rgb(235, 228, 228);
}
.cont{
  margin: auto;
  height: 35%;
  width:75%;
}

*/

.img1 {
    height:300px;
    width:500px;

    margin-top: 2%;
    margin-left: 30%;

    
  }

  .srk {

    height:300px;
    width: 500px;
  }

.cont1 {

    margin-top: 3%;
    margin-left: 9%;
    height: 40%;

    width: 80%;
        background-color: rgb(235, 228, 228);

}  

.cont2{
  margin: auto;
  height: 35%;
  width:75%;
}
.img2{
  height:300px;
  width:500px;
  margin-top: 2%;
  margin-left: 30%;
}

.rdj{
  height:300px;
  width:500px;
}

.cont3{
  margin-top: 3%;
  margin-left: 9%;
  height: 40%;
  width: 80%;
  background-color: rgb(235, 228, 228);
}
.cont4{
  margin: auto;
  height: 35%;
  width:75%;
}

.img3{
  height:300px;
  width:500px;
  margin-top: 2%;
  margin-left: 30%;
}
.captain{
  height:300px;
  width: 500px;
}

.cont5{
  margin-top: 3%;
  margin-left: 9%;
  height: 40%;
  width: 80%;
  background-color: rgb(235, 228, 228);

}
.cont6{
  margin: auto;
  height: 35%;
  width:75%;
}

.img4{
  height:300px;
  width:500px;
  margin-top: 2%;
  margin-left: 30%;
}
.thor{
  height:300px;
  width: 500px;
}

.cont7{
  margin-top: 3%;
  margin-left: 9%;
  height: 40%;
  width: 80%;
  background-color: rgb(235, 228, 228);
}
.cont8{
  margin: auto;
  height: 35%;
  width:75%;
}

.img5{
  height:300px;
  width:500px;
  margin-top: 2%;
  margin-left: 30%;
}
.black{
  height:320px;
  width: 450px;
}

.cont9{
  margin-top: 3%;
  margin-left: 9%;
  height: 40%;
  width: 80%;
  background-color: rgb(235, 228, 228);
}
.cont10{
  margin: auto;
  height: 35%;
  width:75%;
}

